<div class="mt-2 mb-2 d-flex flex-row gap-2 ">
    <input type="text" #task class="form-control" (input)="oninput($event)"/>
    @if (input.length % 2 == 0 ) 
    {
        <button class="btn btn-primary btn-sm" (click)="addTask1(task.value)" >Submit</button>
    }@else 
    {
        <button class="btn btn-primary btn-sm"(click)="addTask2(task.value)" >Submit</button>
    }
    

  </div>


  <div class="d-flex justify-content-between">

    <app-even-length-words-component [input]="input"
    [list1]="list1">

    </app-even-length-words-component>

    <app-odd-length-words-component [input]="input"
    [list2]="list2">

    </app-odd-length-words-component>

    <!-- <div>
        @if ((!input) || (input.length % 2 != 0)) {
    <span class="text-dark">No even length words</span>
        }@else if (input.length % 2 == 0) {
            <span class=" p-2 text-truncate text-danger">
                {{input}}
            </span>

            @for (item of list1; track item) {

                <ul class = "list-unstyled">
                    <li>{{item.name}}</li>
                </ul>
            }
        }

    </div> -->

    <!-- <div>
        @if ((!input) || (input.length % 2 == 0 )) {
    <span class="text-dark">No odd length words</span>
        }@else if (input.length % 2 != 0) {
            <span class=" p-2 text-truncate text-danger ">
                {{input}}
            </span>

            @for (item of list2; track item) {

                <ul class = "list-unstyled">
                    <li>{{item.name}}</li>
                </ul>
        }
    }
        
    </div>

  </div> -->


